<mat-card>
  
  <mat-card-content>
    <mat-toolbar color="primary">
      <span>Produtos NunesSports: </span>
    </mat-toolbar>
    <table mat-table [dataSource]="produtos" class="mat-elevation-z8">
     
      <!-- Cod Column -->
      <ng-container matColumnDef="codProduto">
        <th mat-header-cell *matHeaderCellDef> Código do Produto </th>
        <td mat-cell *matCellDef="let element"> {{element.codProduto}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nomeProduto">
        <th mat-header-cell *matHeaderCellDef> Nome do Produto </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeProduto}} </td>
      </ng-container>
    
      <!-- desc Column -->
      <ng-container matColumnDef="descProduto">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descProduto}} </td>
      </ng-container>
    
      <!-- preco Column -->
      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element"> {{element.preco | currency:'BRL'}} </td>
      </ng-container>

      <!-- action column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="primary" aria-label="Adicionar um produto" (click)="onAdd()">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" aria-label="Editar produto" (click)="edit(element.codProduto)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" aria-label="Excluir produto" (click)="delete(element.codProduto)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>
